extends layout

block content
  
  div#blog.container
    h2 Blog
    div#entries
      for post in blog
        div.entry
          h3 #{post.title}
          p #{post.date}
          p #{post.text}
          for img in post.imgs
            p #{img.description}
            img(src=img.imgUrl)